.logolink {
    padding-top: 5px;
    padding-right: 10px;
}

.topnavbar {
    padding-left: 20px;
    padding-top: 10px;
}

.card-text {
    color: rgb(77, 85, 85);
}

.copyright {
    color: rgb(77, 85, 85);
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}

body {
    padding-top: 10px;
    /* padding-left: 100px;
    padding-right: 100px; */
    background-color: rgb(255, 255, 255);
}

@media screen and (width > 1000px), screen and (width > 700px) {
    body {
        padding-left:25px; 
        padding-right: 25px;
    }
    
}

@media screen and (width < 1000px), screen and (width > 700px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

footer {
    background-color: rgb(172, 212, 108);
}