.topnavbar {
    padding-left: 20px;
    padding-top: 10px;
}

.copyright {
    color: rgb(77, 85, 85);
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}

footer {
    background-color: rgb(172, 212, 108);
}