.logolink {
    padding-top: 5px;
    padding-right: 10px;
}

.topnavbar {
    padding-left: 20px;
    padding-top: 10px;
}

.container {
    /* position: center; */
    width: 50%
}
.maincontactdiv {
    border-color: brown;
    padding-left: 6px;
}
.contactform {
    max-width: max-content;
    justify-self: center;
}
.copyright {
    color: rgb(77, 85, 85);
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}

body {
    height: 100%;
}

@media screen and (width > 1000px), screen and (width > 700px) {
    body {
        padding-left:50px; 
        padding-right: 50px;
    }
    
}

@media screen and (width < 1000px), screen and (width > 700px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

footer {
    background-color: rgb(172, 212, 108);
}