/* ====== Top Navigation Section ====== */
.logolink {
    padding-top: 5px;
    padding-right: 10px;
}

.topnavbar {
    padding-left: 20px;
    padding-top: 10px;
}
/* ===================================== */

body {
    height: 100%;
}

.form {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 1.5rem;
}



@media screen and (width > 1000px), screen and (width > 700px) {
    body {
        padding-left:50px; 
        padding-right: 50px;
    }
    .container {
        /* position: center; */
        max-width: 55%;
    }
    
}

@media screen and (width < 1000px), screen and (width > 700px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .container {
        /* position: center; */
        width: 55%
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container {
        width: 85%
    }
}

footer {
    background-color: rgb(172, 212, 108);
}

.copyright {
    color: rgb(77, 85, 85);
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}