.card-text {
    color: rgb(77, 85, 85);
}

.copyright {
    color: white;
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}

body {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(59, 73, 87);
}