/* p {
    color: red
} */



/* Changes color of the top links upon hover */
.gray-text {
    color: gray;
}

.a {
    color: gray
}
/* a:hover {
    text-decoration: underline;
    color: blue!important;
} */

a:hover .gray-text {
    color: blue;
}