.topnavbar {
    padding-left: 10px;
}
.card-text {
    color: rgb(77, 85, 85);
    justify-content: center;
}

.card-body {
    justify-content: center;
}

.copyright {
    color: rgb(77, 85, 85);
    justify-content: center;
    text-align: center;
    text-shadow: 0em;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
}

footer {
    padding-top: 10px;
    background-color: rgb(172, 212, 108);
}